<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - رمانة</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebSmartKid.styles.css" asp-append-version="true" />
    
  <link rel="apple-touch-icon" sizes="76x76" href="~/lib/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="~/lib/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <!-- CSS Files -->
  <link href="~/lib/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="~/lib/assets/demo/demo.css" rel="stylesheet" />
  <link href="~/css/romana-theme.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="font-family: 'Tajawal', 'Inter', sans-serif; direction: rtl; ">
    <!--  Core JS loaded FIRST so inline scripts in views can use $ -->
    <script src="~/lib/assets/js/core/jquery.min.js"></script>
    <script src="~/lib/assets/js/core/popper.min.js"></script>
    <script src="~/lib/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/lib/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="~/lib/assets/demo/demo.js"></script>

    <!-- CUT FROM HERE --> 

  <div class="wrapper ">
    <header>
       <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
          <a  class="simple-text logo-normal">
                        نظام ادارة تطبيق رمانة
        </a>
                    <div class="row text-center" style="width:200px">
                        <button type="button" rel='tooltip' title='رجوع' class='btn btn-primary col' onclick="window.history.back()"><i class='material-icons'>arrow_back</i> </button>
                        <button type="button" rel='tooltip' title='تقدم' class='btn btn-primary col' onclick="window.history.forward()"><i class='material-icons'>arrow_forward</i> </button>
                    </div>
        </div>
      <div class="sidebar-wrapper">
                    <ul class="nav" id="nav">
                    </ul>
      </div>
    </div> 

    </header>

     <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">@ViewData["Title"]</a>
          </div>
          <div class="d-none d-md-flex" style="gap:10px;align-items:center;margin-right:auto;">
              <span class="rm-avatar" title="المسؤول">
                  <span class="rm-avatar-img">م</span>
                  <span>المسؤول</span>
              </span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button> 
        </div>
      </nav>
      <!-- End Navbar -->
            @RenderBody() 
      </div>  
  </div>

    <!-- App JS (after jQuery is already loaded above) -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/rm-performance.js" asp-append-version="true"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <script src="~/js/Carousel.js" asp-append-version="true"></script>
    <script src="~/js/SubCategories.js" asp-append-version="true"></script>
    <script src="~/js/PromoCode.js" asp-append-version="true"></script>
    <script src="~/js/CodeRes.js" asp-append-version="true"></script>
    <script src="~/js/Restaurant.js" asp-append-version="true"></script>
    <script src="~/js/RestaurantSubCategories.js" asp-append-version="true"></script>
    <script src="~/js/RestaurantCity.js" asp-append-version="true"></script>
    <script src="~/js/Categories.js" asp-append-version="true"></script>
    <script src="~/js/Products.js" asp-append-version="true"></script>
    <script src="~/js/Orders.js" asp-append-version="true"></script>
    <script src="~/js/Stars.js" asp-append-version="true"></script>
    <script src="~/js/City.js" asp-append-version="true"></script>
    <script src="~/js/Countries.js" asp-append-version="true"></script>
    <script src="~/js/Users.js" asp-append-version="true"></script>
    <script src="~/js/SaleMan.js" asp-append-version="true"></script>
    <script src="~/js/Delivery.js" asp-append-version="true"></script>
    <script src="~/js/ReportRes.js" asp-append-version="true"></script>
    <script src="~/js/Question.js" asp-append-version="true"></script>
    <script src="~/js/Analytics.js" asp-append-version="true"></script>

    <!-- Material Dashboard plugins -->
    <script src="https://unpkg.com/default-passive-events"></script>
    <script src="~/lib/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/assets/js/plugins/chartist.min.js"></script>
    <script src="~/lib/assets/js/material-dashboard.js?v=2.1.0"></script>
    <script>
        $(document).ready(function () {
            // Load sidebar navigation
            call_ajax("GET", "Admin/GetPermissionForLayout", null, filllayout);

            // Fix modal stacking: move all modals to <body> so they escape
            // the .main-panel stacking context that traps them under the backdrop
            $('.modal').each(function () {
                $(this).appendTo('body');
            });
        });
    </script>

</body>
</html>
