
@{
    ViewData["Title"] = "DownloadPageres";
    Layout = "~/Views/Shared/_Layoutfordownload.cshtml";
}

 

<style>
    .fa-download:before {
        content: "\f019";
        margin-right: 10px;
    }
</style> 
<br />
<div class="clearfix row">
    <div class="text-center col-sm-12 col-xl-12">
        <div class="text-center" style="margin: 39px; font-size: 28px;">
            <a>لتحميل تطبيق   رمانة مطاعم على جهاز الاندرويد</a>
        </div>
        <div class="text-center">
            <a href="https://play.google.com/store/apps/details?id=com.alaman.rummanaflutterforres"> <img class="img-fluid" src="~/images/downloadandroid.png" alt="alternative" style="width:35%;"></a>
         </div>
    </div>
</div>
<br />
<br />
<div class="clearfix row">
    <div class="text-center col-sm-12 col-xl-12">
        <div class="text-center" style="margin: 39px; font-size: 28px;">
            <a>لتحميل تطبيق   رمانة مطاعم على جهاز الايفون</a>
        </div>
        <div class="text-center">
            <a href="https://apps.apple.com/us/app/%D8%B1%D9%85%D8%A7%D9%86%D8%A9-%D9%85%D8%B7%D8%A7%D8%B9%D9%85/id6475269008"> <img class="img-fluid" src="~/images/downloadios.png" alt="alternative" style="width:35%;"></a>

        </div>
    </div>
</div>

