
@{
    ViewData["Title"] = "الطلبات";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<div class="content">
    <div class="content dark-edition">
        <div class="container-fluid">
            <div class="container alignright" style="margin:2% 0;">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">تاريخ الى</label>
                        <input type="date" name="dateto" id="dateto" class="form-control alignright" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">تاريخ من</label>
                        <input type="date" name="datefrom" id="datefrom" class="form-control alignright" />
                    </div> 
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">رقم الطلب</label>
                        <input type="text" id="OrderNo" name="OrderNo" class="form-control alignright" placeholder="ابحث عن رقم الطلب" />
                    </div> 
                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center wow fadeInDown" style="text-align:left;">
                            <label class="mb-2"></label>
                            <button type="button" id="search-btn" class="btn btn-info btnwidth" style="text-align:center; width:100%;">بحث</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary" style="text-align:right">
                            <h4 class="card-title ">الطلبات</h4>
                            <p class="card-category">جدول لعرض الطلبات داخل التطبيق</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="text-align: right;">
                                <table class="table table-hover">
                                    <thead class=" ">
                                        <tr>
                                            <th scope="col">منتهي</th>
                                            <th scope="col">موافقة</th>
                                            <th scope="col">ملغي</th>
                                            <th scope="col">صافي المبلغ</th>
                                            <th scope="col">الخصم</th>
                                            <th scope="col">المجموع</th>
                                            <th scope="col">المدينة</th>
                                            <th scope="col">المحافظة</th>
                                            <th scope="col">رقم الهاتف</th>
                                            <th scope="col">ملاحظة</th>
                                            <th scope="col">اقرب نقطة دالة</th>
                                            <th scope="col">العنوان</th>
                                            <th scope="col">اسم الزبون</th>
                                            <th scope="col">اسم المندوب</th> 
                                            <th scope="col">تاريخ الطلب</th>
                                            <th scope="col">رقم الطلب</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOrdersForRes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="OrdersDetailsForResModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تفاصيل الطلب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table  table-responsive   table-hover table-bordered text-center">
                        <thead class=" ">
                            <tr>
                                <th scope="col">ملاحظة</th>
                                <th scope="col">الكمية</th>
                                <th scope="col">السعر</th>
                                <th scope="col">تفاصيل المنتج</th>
                                <th scope="col">اسم المنتج</th>
                                <th scope="col">صورة المنتج</th> 
                            </tr>
                        </thead>
                        <tbody id="tableOrdersDetailForRes">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="setsalemanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اختيار المندوب</h5>
                <button type="button" id="close1"  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12 text-right">
                        <p>اختيار المندوب</p>
                        <select class="form-control text-right" name="SaleManId" id="SaleManId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success" id="save">حفظ</button>
            </div>
        </div>
    </div>
</div>


<div id="mydiv">
    <script>
        function selectSaleManId(data) {
            var s = '<option value="0">اختيار المندوب</option>';
            $('#SaleManId').append(s);
            $.each(data, function (i, item) {
                var ss = '<option value="' + item.saleManId + '">' + item.name + '</option>';
                $('#SaleManId').append(ss);
            });
        };
        $("#close").on("click", (e) => {
            e.preventDefault();
            RefreshOrdersForRes();
        });
        $("#close1").on("click", (e) => {
            e.preventDefault();
            RefreshOrdersForRes();
        });
        $(document).ready(function () {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $("#datefrom").val(today);
            $("#dateto").val(today); 
            var obj = { RestaurantId  : 0 }
            call_ajax("GET", "SaleMan/GetByRestaurantId", obj, selectSaleManId);
            RefreshOrdersForRes();
        });
        $("#save").on("click", (e) => {
            e.preventDefault();
            if ($("#SaleManId").val() === 0 || $("#SaleManId").val().trim() === "0") {
                md.showNotification("رجاءا ادخل اسم المندوب ");
                return;
            } 
            call_ajax("POST", "Orders/SetSaleManId/" + _orderid + "," + $("#SaleManId").val(), null, RefreshOrdersForRes);
        });
        $("#search-btn").on("click", (e) => {
            e.preventDefault();
            RefreshOrdersForRes();
        });
    </script>
</div>

